[submodule "dotbot"]
	ignore = dirty
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "emacs.d"]
	branch = develop
	path = emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "zsh/pure"]
	branch = main
	path = zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
